.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  background-color: rgb(243, 243, 243); /* schöner violetter Grundton */
  margin: 10px;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 15px;         /* abgerundete Ecken */
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* leichter Schatten */
  transition: all 0.3s ease;   /* sanfte Animation für Hover */
}

/* Hover-Effekt */
.card:hover {
  transform: scale(1.1); /* leichte Vergrößerung */
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  color: white;
}

/* Optional: cooles Leuchteffekt-Pseudo-Element */
.card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover::before {
  opacity: 1;
}





.kundeundk{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.kunde{
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.k{
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.TypundWLW{
  display: flex;
  align-items: center;
}

.Typ{
  width: 75px;
}

.WLW{
  width: 75px;
}

.StartundEnde{
  display: flex;
  align-items: center;
}

.Start{
  width: 75px;
}

.Ende{
  width: 75px;
}
