.MainBoard {
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows: auto auto auto;
  width: 100vw;               /* volle Bildschirmbreite */
  height: 100vh;              /* volle Bildschirmhöhe */
  gap: 15px;
  padding: 10px;     
  box-sizing: border-box;      /* Padding + Border innerhalb der Größe */
             /* verhindert Scrollbars */
}